---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AppsSection from '../components/AppsSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Sasha Navruzova - iOS Engineer & Indie Developer">
  <Header />
  <main>
    <Hero />
    <AppsSection />
  </main>
  <Footer />
</Layout>
